<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
    <style>
        /* 添加邊框樣式 */
        .button-with-border {
            border: 1px solid black; /* 黑色邊框 */
            padding: 5px 10px; /* 調整內邊距 */
        }
    </style>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>NCU OAuth2</h1><br>
        
   		<h2><button type="button" class="button-with-border" onclick="location.href='/user'">學生登入</button></h2><br>
   		


    </div>

</div>

<!--<div th:replace="fragments/footer :: footer"/>-->

</body>
</html>